<ion-header>
  <ion-toolbar>
    <ion-title>Designer</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="8" offset="1" size-md="6" offset-md="3" class="ion-padding img-col">
        <div #ImageWrapper class="img-wrapper ion-align-items-center">
          <img #ProductImage [src]="img">
          <canvas #canvas></canvas>
        </div>
      </ion-col>
      <ion-col class="function-button-col" size="3" size-md="1">
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-button [disabled]="projectService.selectedTopLevelItems().length !== 1"  class="dual-button-l function-button big-icon" (click)="pictureMethod('increeseSize')">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button [disabled]="projectService.selectedTopLevelItems().length !== 1" class="dual-button-r ion-no-margin function-button big-icon" (click)="pictureMethod('decreeseSize')">
              <ion-icon name="remove-circle-outline"></ion-icon>        
            </ion-button>
          </ion-col>
          <!-- <ion-col size-sm="12" size-md="6">
            <ion-button class="ion-no-margin" (click)="pictureMethod('mirrorX')">
              <ion-icon name="swap-horizontal"></ion-icon>        
            </ion-button>
          </ion-col>
          <ion-col size-sm="12" size-md="6">
            <ion-button class="ion-no-margin" (click)="pictureMethod('mirrorY')">
              <ion-icon name="swap-vertical"></ion-icon>        
            </ion-button>
          </ion-col> -->
          <ion-col size="12">
            <ion-button [disabled]="projectService.itemFocus?.data.type != 'text' || projectService.selectedTopLevelItems().length !== 1" class="full-width-button function-button" (click)="openTextEdit()">
              <div>
                <ion-icon name="text-outline"></ion-icon><br>
                Edit Text
              </div>
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button [disabled]="projectService.selectedTopLevelItems().length !== 1" class="full-width-button function-button big-icon" (click)="rotateItem()">
              <ion-icon name="repeat-outline"></ion-icon>        
            </ion-button>
          </ion-col>
          <ion-col size="6" offset="6">
            <ion-button [disabled]="projectService.selectedTopLevelItems().length !== 1" color="danger" (click)="pictureMethod('delete')">
              <ion-icon name="trash-outline"></ion-icon>        
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center rotation-row ion-text-center" *ngIf="openRotationHandle">
      <ion-col size="6" offset="3">
        <ion-range 
            class="ion-no-padding"
            pin min="0" 
            max="359" 
            step="1" 
            ticks="true" value="0"  
            color="secondary"
            [disabled]="projectService.selectedTopLevelItems().length !== 1"
            [(ngModel)]="projectService.rotation"
            (keydown)="$event.stopPropagation()"
            (ionChange)="projectService.rotateSelectedItems($event)">
            <ion-label class="rotation-label" slot="start">0</ion-label>
            <ion-label class="rotation-label" slot="end">359</ion-label>
          </ion-range>
          <ion-button size="small" (click)="this.projectService.rotateSelectedItems(90)()">
            <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
          </ion-button>
          <ion-button size="small" (click)="this.projectService.rotateSelectedItems(-90)()">
            <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
          </ion-button>
          <ion-button size="small" (click)="rotateItem()">
            <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
          </ion-button>
      </ion-col>
      <ion-col size="2">
        
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!openRotationHandle && !isTextEditOpen">
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" class="ion-text-center">
        <h3 class="ion-no-margin">{{descr}}</h3>
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="isTextEditOpen">
      <ion-col size-sm="6" size-md="2" offset-md="4">
          <ion-label>Font</ion-label>
          <ion-select [(ngModel)]="projectService.itemFocus?.lastChild.data.fontFamily"
          (ionChange)="changeTextFontFamily($event)">
            <ion-select-option
              *ngFor="let font of (sharedService.fonts | uniqueFont: 'fontFamily')"
              [ngStyle]="{'font-family': font.fontFamilyMerged}"
              [value]="font.fontFamily">{{font.fontFamily}}
            </ion-select-option>
          </ion-select>        
      </ion-col>
      <ion-col size-sm="6" size-md="2">
        <ion-label>Style</ion-label>
        <ion-select 
          [(ngModel)]="projectService.itemFocus?.lastChild.data.fontSubfamily"
          (ionChange)="changeTextFontSubfamily()"
          >
            <ion-select-option
              *ngFor="let font of sharedService.fonts | filter: 'fontFamily': projectService.itemFocus?.lastChild.data.fontFamily"
              [value]="font.fontSubfamily">{{font.fontSubfamily}}
            </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row class="last-row ion-margin-top">
      <ion-col *ngIf="isTextEditOpen" size="9" size-md="2" offset-md="4">
          <ion-label position="floating">Change Text</ion-label>
          <ion-input class="new-text-input" placeholder="New Text"  [(ngModel)]="newTextInput"></ion-input>
      </ion-col>

      <ion-col *ngIf="isTextEditOpen" size-sm="4" size-md="1" push-md="1" class="ion-no-padding">
        <ion-button class="ion-no-margin action-button last" (click)="changeText()">
          <ion-icon name="checkmark-circle-outline"></ion-icon>        
        </ion-button>
      </ion-col>

      <ion-col *ngIf="!isTextEditOpen" size-sm="4" size-md="1" offset-md="4" class="ion-no-padding">
        <ion-button class="ion-no-margin action-button big-icon" (click)="genText()">
          <ion-icon name="text-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="!isTextEditOpen" size-sm="4" size-md="1" class="ion-no-padding">
        <ion-button class="ion-no-margin action-button big-icon" (click)="openAddImageModal()">
          <ion-icon name="image-outline"></ion-icon>        
        </ion-button>
      </ion-col>
      <ion-col *ngIf="!isTextEditOpen" size-sm="4" size-md="1" class="ion-no-padding">
        <div *ngIf="shapeSelectionOpen" class="shape-selection">
          <ion-button class="ion-no-margin" (click)="addShape('triangle')">
            <ion-icon name="triangle-outline"></ion-icon>        
          </ion-button> 
          <ion-button class="ion-no-margin" (click)="addShape('rectangle')">
            <ion-icon name="tablet-landscape-outline"></ion-icon>        
          </ion-button> 
          <ion-button class="ion-no-margin" (click)="addShape('circle')">
            <ion-icon name="ellipse-outline"></ion-icon>          
          </ion-button>
        </div>
        <ion-button class="ion-no-margin action-button big-icon" (click)="toggleshapeSelectionOpen()">
          <ion-icon name="shapes-outline"></ion-icon>        
        </ion-button>
      </ion-col>
      <ion-col *ngIf="!isTextEditOpen" size-sm="4" size-md="1" class="ion-no-padding">
        <ion-button class="ion-no-margin action-button last big-icon" (click)="generateBarcode()">
          <ion-icon name="checkmark-circle-outline"></ion-icon>        
        </ion-button>
      </ion-col>
    </ion-row>
    
  </ion-grid>

</ion-content>
