<ion-header>
  <ion-toolbar>
    <ion-title>Designer</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="img-col ion-align-items-center" size-md="8" offset-md="2" size-sm="10" offset-sm="1">
        <div class="img-wrapper ion-align-items-center">
          <img [src]="img">
          <!-- <div class="ion-canvas">
            <canvas #canvas></canvas>
        </div> -->
        </div>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="12" size-md="6" offset-md="3" class="ion-text-center">
        <h3 class="ion-no-margin">{{descr}}</h3>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size-sm="4" size-md="1" offset-md="4" class="ion-no-padding">
        <ion-button class="ion-no-margin action-button" (click)="onClick()">
          <ion-icon name="text-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size-sm="4" size-md="1" class="ion-no-padding">
        <ion-button class="ion-no-margin action-button" (click)="onClick()">
          <ion-icon name="image-outline"></ion-icon>        
        </ion-button>
      </ion-col>
      <ion-col size-sm="4" size-md="1" class="ion-no-padding">
        <ion-button class="ion-no-margin action-button" (click)="onClick()">
          <ion-icon name="shapes-outline"></ion-icon>        
        </ion-button>
      </ion-col>
      <ion-col size-sm="4" size-md="1" class="ion-no-padding">
        <ion-button class="ion-no-margin action-button last" (click)="onClick()">
          <ion-icon name="checkmark-circle-outline"></ion-icon>        
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
