ion-grid{
    height: 100%;
}

canvas{
    outline: 1px dotted black;
}

.img-col{
    height: 70vh;
    text-align: center;
}

.img-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    object-fit: contain;
    object-position: center;
    img{
        max-height: 100%;
    }
}

.action-button{
    --border-radius: 0;
    height: 100%;
    width: 100%;
    --border-color: #fff;
    border-right: 1px solid #fff !important;
    ion-icon{
        font-size: 2.4em;
    }
}

.shape-selection{
    position: absolute;
    width: 200%;
    left: -50%;
    height: 50%;
    top: -70%;
    ion-button{
        --border-radius: none;
        border-right: 1px solid black;
        width: 33%;
        height: 100%;
    }
    ion-button:last-of-type{
        border-right: none;
    }
}

.shape-selection:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px #3880ff;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}

.last{
    border-right: none !important;
    --background: green;
}

.change-text-col{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rotation-row{
    ion-button{
        margin-left: 5%;
    }
}

.rotation-label{
    font-size: 1em;
}

ion-select{
    background: rgba(255,255,255,.5) !important;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 15px;
    padding-right: 2%;
}

.text-input{
    margin-right: 5%;
    --background: transparent;
}

.new-text-input{
    background: rgba(255,255,255,.5) !important;
    margin: 5%;
    border-radius: 15px;
    width: 90%;
}

.last-row{
    position: absolute;
    height: 10%;
    width: 100%;
    top: 85%;
}

.function-button-col{
    display: flex;
    align-items: center;
    ion-col{
        height: 10vh;
    }
}

.big-icon{
    ion-icon{
        height: 100% !important;
        width: 50% !important;
    }
}

.function-button{
    height: 80%;
}

.dual-button-l{
    margin: 0 !important;
    width: 100%;
    --border-color: #fff;
    border-right: 3px solid #fff !important;
    --border-radius: 5px 0 0 5px;
    --padding-end: 0;
    --padding-start: 0;
}

.dual-button-r{
    width: 100%;
    --border-radius: 0 5px 5px 0;
    --padding-end: 0;
    --padding-start: 0;
}

.full-width-button{
    width: 100%;
}

.text-edit-label{
    margin-left: 5%;
}

.change-text-col {
    ion-button{
        margin-top: 5%;
    }
}