<ion-header translucent>
  <ion-toolbar>
    <ion-title color="light">Images</ion-title>

    <ion-buttons slot="start">
      <ion-button fill="solid" size="large" color="light" (click)="dismissModal()" fill="clear" class="back-button">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <!--
    <ion-buttons slot="end" id="checkbox">
      <ion-item>
        <ion-checkbox slot="start" color="light" [(ngModel)]="deleteImagesFlag"></ion-checkbox>
        <ion-label color="light">deleteMode</ion-label>
      </ion-item>
    </ion-buttons>
    -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row class="header-row">
      <ion-col style="text-align: center;" size="6" offset="3">
        <h5 style="color: #ffffff;" *ngIf="!deleteImagesFlag">Select or Add</h5>
        <h5 style="color: #ffffff;" *ngIf="deleteImagesFlag">Delete</h5>
      </ion-col>
      <ion-col size="2" offset="1">
        <ion-button class="delete-selected"  (click)="deleteImages()" color="danger" [disabled]="selectedImages.length === 0">
          <div>
            <ion-icon color="light" name="trash-outline"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="picture-grid">
      
      <ion-col class="addImage" size="6" *ngIf="!deleteImagesFlag">
        <div class="img-wrapper" (click)="fileInput.click()">
          <ion-icon class="addIcon" color="primary" name="add"></ion-icon>
          <input type="file" accept="image/svg+xml" (change)="cacheFile($event, 'images')" style="visibility: hidden;" #fileInput multiple>
        </div>
      </ion-col>
     
      <ion-col class="chooseImage" *ngFor="let img of sharedService.dbTables['images']" size="3">
        <div class="img-wrapper" style="z-index: 500;" (click)="useImage(img)">
          <span title="{{img.key}}">
            <ion-icon class="deleteIcon" color="danger" name="close" *ngIf="deleteImagesFlag"></ion-icon>
            <img [src]="img.value | safeHtml: 'resourceUrl'" alt="{{img.key}}">
          </span>
          <div style="padding: 12px 16px 12px 16px;" appClickStopPropagation>
            <ion-checkbox class="delete-checkbox" (ionChange)="selectImage(img, $event);" (click)="$event.stopPropagation();" slot="start" color="dark" appClickStopPropagation></ion-checkbox>
          </div>
        </div>
      </ion-col>
      <input type="file" accept="image/svg+xml" (change)="cacheFile($event, 'images')" style="visibility: hidden;" #fileInput multiple>
    </ion-row>
  </ion-grid>
</ion-content>
