ion-grid {
  height: 100%;
  //background: url("../../assets/img/test2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}

ion-row:first-of-type{
  height: 10%;
}

ion-row{
  height: 90%;
}

ion-header{
}

ion-col > div {
  color: black;
  background-color: #f7f7f7;
  border: solid 1px #ddd;
  padding: 10px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

amplify-toast{
  top: 100%;
  background-color: darkred !important;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.hidden{
  display: none;
}


.center-auth {
  background: transparent !important;
  box-shadow: none;
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
}

.CTA{
  font-size: 2em;
  background-color: #78c800;
  padding: 2%;
  color: white;
  border-radius: 5px;
}

.slide-button{
  width: 100%;
  font-size: 10em;
}

ion-card{
  box-shadow: none;
  height: 92%;
  background-color: inherit;
  .img-wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 80%;
  }
  img{

  }
}

.slide-col{
  height: 100%;
}

ion-slides{
  height: 100%;
}

ion-slide{
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

  